.body-image{
    background-image:url(../images/bank_image_2.jfif) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.details_image{
    background-color: aqua;
    
}

#search_bar{
    text-align:center; 
    padding:10px;
}

.header_tag{
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display"; 
    font-weight:400;
}

.header_tag_label{
    padding:10px;
    font-size:20px;  
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display"; 
    font-weight:100;
}

#details_tab{
    margin: auto;
}